@value makerShadow, makerPink, makerWhite from '../common/colors.css';

.email_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email_login,
.password_warp {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0.4em;
}

.email_label,
.password_label {
  display: flex;
  margin-right: 0.6em;
  margin-bottom: 0.4em;
}

.email_input,
.password {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  border: 1px solid makerShadow;
  border-radius: 6px;
  background-color: transparent;
  padding: 0 0.6em;
}

.email_span,
.password_span {
  visibility: visible;
  color: #e86262;
  font-size: 0.95rem;
}

.email_input::placeholder,
.password::placeholder {
  color: makerPlaceholder;
}

.email_span {
  margin-bottom: 0.4em;
}

.password_span {
  margin-bottom: 1.5em;
}

.email_span.hidden {
  visibility: hidden;
}

.password_span.hidden {
  visibility: hidden;
}

.resetPassword {
  text-align: right;
  border: none;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  margin-bottom: 6px;
}

.resetPassword:hover {
  color: black;
  text-decoration: underline;
}

.btn_warp {
  display: flex;
  justify-content: center;
}

.email_loginBtn,
.email_signInBtn {
  width: 6.5em;
  height: 38px;
  color: black;
  font-size: 1rem;
  margin: 0 0.3125rem;
  background-color: none;
  cursor: pointer;
  border: 1px solid makerShadow;
  border-radius: 6px;
}

.email_loginBtn:hover,
.email_signInBtn:hover {
  color: makerWhite;
  background-color: #2956eb;
}
