@value makerShadow, makerLightGrey, makerWhite from '../common/colors.css';

.profile {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  background-color: makerLightGrey;
}
.userName {
  font-size: 1rem;
  font-weight: 500;
}

.logout_btn {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logout_btn:hover {
  color: #e94343;
}
