@value makerShadow, makerWhite from '../common/colors.css';

.profile {
  display: flex;
  padding: 0.7em;
}

.logout_btn {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  margin: 0 auto;
  cursor: pointer;
}

.logout_btn:hover {
  color: #e94343;
}
