@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@value makerShadow, makerGreen from '../common/colors.css';
@value mediaQuery from '../common/size.css';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0;
}

.title {
  font-family: 'Fugaz One', cursive;
  font-size: 2.5rem;
  color: makerGreen;
  margin: 0;
}

.user_name {
  position: relative;
  margin-right: 0.7em;
}

@media screen and (max-width: mediaQuery) {
  .title {
    text-align: center;
  }
}
