@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@value makerShadow, makerGreen from '../common/colors.css';

.title {
  font-family: 'Fugaz One', cursive;
  font-size:2.5rem;
  color:makerGreen;
  margin:0 0 0.3em;
}

