@value makerLightGrey, makerLightPink from '../common/colors.css';
@value mediaQuery from '../common/size.css';

.maker {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.maker_header {
  background-color: makerLightGrey;
}

.make_warp {
  display: flex;
  flex: 1;
}

.license_title {
  font-size: 1.3rem;
  text-align: center;
}

.license_list {
}

.guardian_info {
}

.guardian_name {
}

.guardian_phone {
}

@media screen and (max-width: mediaQuery) {
  .make_warp {
    flex-direction: column;
  }
}
