@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  box-sizing: border-box;
}

body {
  background-color: #f4f7fa;
}

:is(ul, ol, li) {
  list-style: none;
  margin: 0;
  padding: 0;
}
